@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


body, html {
    height: 100%;
    margin: 0;
    background-image: url('images/bg.png');
    background-size: 100%;
    background-position: center;
    background-repeat: repeat;
    background-attachment: local;
    overflow-x: hidden;
}

.blank {
    height: 150px;
}

.title h1{
    font: 700 50pt 'PT Sans';
    text-align: center;
}

.navbar {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.navbar a {
    color: black;
}

.nav-left {
    margin-right: auto;
}
.nav-left h1 {
    font: 700 30pt 'PT Sans';
    text-decoration: none;
}

.nav-content {
    display: flex;
    color: black;
    margin-left: auto;
}
.nav-content li a {
    font: 400 15pt 'PT Sans';
    z-index: 5;
}
.nav-content li a {
    border: none;
}
.nav-content li a:hover {
    border: 1px solid;
    border-radius: 5px;
    background-color: transparent;
    padding: 9px 14px;
}
.top {
    height: 100vh;
    width: 100%;
}
.greet {
    padding-top: 20vh;
}
.greeting {
    border: 5px solid black;
    border-radius: 20px;
    text-align: center;
    width: fit-content;
    margin: auto;
    background-color: white;
}
.soon {
    padding: 100px 50px;
}

.hello {
    font: 700 36pt 'PT Sans Narrow', sans-serif;
    color: #8B8B8B;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.name {
    font: 700 120pt 'PT Sans Narrow';
    padding: 0 20px;
}

.middle {
    height: auto;
}

.about-photo {
    margin: 30px auto;
    max-width: 500px ;
    width: 100%;
    height: auto;
    text-align: center;
}

.about-photo img {
    height: auto;
    width: 70%;
    min-width: 250px;
}

.about-me {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.about-me h1 {
    text-align: start;
}

.about-me p {
    font: 400 15pt 'Lato', sans-serif;
    color: #7A7A7A;
}

.about-table {
    font: 400 15pt 'Lato', sans-serif;
    /* 15pt */
    text-align: start;
}

.table-var {
    font: 700 15pt 'Lato', sans-serif;
    padding-left: 0;
    color: black;
    vertical-align: text-top;
}

td {
    padding: 7px;
    color: #7A7A7A;
}

.middle-2 {
    height: auto;;
}

.card-deck {
    margin: 50px auto;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.card-content {
    border-radius: 30px;
    border: 1px solid #BFBFBF;
    min-width: 190px;
    max-width: 295px;
    margin: 15px 30px;
}

.card img {
    width: 40%;
    margin: 10px auto;
}

.card-title {
    font: 700 20pt 'PT Sans';
}

.card-text {
    font: 700 12pt 'Lato';
}

.class {
    color: #00446F;
}

.year {
    color: #8B8B8B;
}

.middle-3 {
    height: auto;
}

.exp-content {
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.exp-title {
    margin: 50px auto;
}

.exp-logo img {
    height: 10%;
    width: auto;
    margin: auto;
}

.exp-list {
    display: flex;
    border: 1px solid #BFBFBF;
    border-radius: 25px;
    width: 90%;
    margin: 20px auto;
    background-color: white;
}

.exp-logo {
    margin: 10px 20px;
    align-self: center;
}

.exp-details {
    margin: 10px;
}
.exp-details h1 {
    font: 700 20pt 'Lato';
}

.exp-details .role {
    font: 700 13pt 'Lato';
    color: #00446F;
    margin-bottom: 10px;
}

.exp-details p {
    font: 700 12pt 'Lato';
    color: #7A7A7A;
    margin-bottom: 0;
}

.middle-4 {
    height: auto;
}

.skills-content {
    margin: auto;
    justify-content: center;
}
.skills-title {
    margin-top: 100px;
}

.skill {
    text-align: center;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
    font: 700 20pt 'Lato';
    width: 90%;
    margin: 20px auto;
    background-color: white;

}

.row-2 {
    width: 70%;
    margin: auto;
}
.skill-row {
    margin: 50px 0;
}

.skill-bot-1 {
    width: 60%;
    margin-right: 10px;
}

.skill-bot-2 {
    width: 60%;
    margin-left: 10px;
}

.skill p {
    margin: 20px auto;
}

.skill-2 p {
    margin: 20px auto;
}

footer {
    background-color: #e1f6ff;
}

.contact {
    margin: 10px auto;
}

.contact h1 {
    font: 700 30pt 'PT Sans';
    text-align: center;
    margin: auto;
}

.icons {
    text-align: center;
    margin: auto;
    justify-content: center;
}

.icons-logo i {
    margin: 30px;
    color: black;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
}

.icons-logo i:hover {
    margin-top: 25px;
    color: #00446F;
}

@media all and (max-width: 992px) {
    .blank {
        height: 100px;
    }
    .greet {
        padding-top: 30vh;
    }
    .hello {
        font-size: 26pt;
    }
    .name {
        font-size: 110pt;
    }

    .title h1 {
        text-align: center;
        font-size: 40pt;
    }
    .about-me p, .about-table, .table-var {
        font-size: 13pt;
    }

    .card-content {
        max-width: 190px;
    }

    .card-title, .exp-details h1 {
        font: 700 17pt 'PT Sans';
    }
    
    .card-text, .role, .exp-details p {
        font: 700 11pt 'Lato';
    }
}

@media all and (max-width: 768px) {
    
    .skill-bot-2, .skill-bot-1 {
        width: 100%;
        margin: auto 30px;
        max-width: 180px;
    }

    .skill {
        max-width: 180px;
        font-size: 15pt;
    }
    
    .width-skill {
        width: 50%;
    }

    .about-photo img {
        max-width: 250px;
    }

    .exp-list {
        border-radius: 20px;
    }
    .exp-logo img {
        height: 50px;
    }

    .exp-details h1 {
        font-size: 15pt;
    }

    .exp-details p, .exp-details .role {
        font-size: 9pt;
    }

    #small {
        font-size: 12pt;
    }
}

@media all and (max-width: 576px) {
    
    .nav-brand h1 {
        font-size: 15pt;
    }
    .nav-item {
        font-size: 9pt;
    }
    .nav-content {
        width: 100%;
        margin-left: auto;
    }
    .nav-content li a {
        font-size: 9pt;
        padding: 5px;
        /* color: #e1f6ff; */
    }
    .nav-links {
        padding: 5px 10px;
    }
    .blank {
        height: 100px;
    }
    .title h1 {
        font-size: 30pt;
    }
    .greet {
        padding-top: 20vh;
    }
    .greeting {
        width: 100%;
    }
    .hello {
        font-size: 20pt;
    }
    .name {
        font-size: 70pt;
    }
    .about-content {
        margin:20px;
    }

    .about-top {
        text-align: center;
    }

    .about-photo img {
        max-width: 210px;
        min-width: 200px;
    }
    .about-me p, .about-table, .table-var {
        font-size: 11pt;
    }

    .exp-details h1 {
        font-size: 15pt;
    }

    .card-deck {
        display: flex;
        flex-wrap: wrap;
    }
    .card-content {
        max-width: 150px;
        min-width: 140px;
        margin: auto;
        height: 233px;
    }

    .card-content img {
        width: 50px;
    }

    .card-title {
        font-size: 13pt;
    }

    .card-body p {
        font-size: 9pt;
    }
    .row-2 {
        width: 100%;
    }

    .center {
        margin: auto 65%;
        margin-top: 25px;
    }

    .skill-bot-2, .skill-bot-1 {
        width: 126.337px;
        margin: auto;
        max-width: 180px;
        justify-content: center;
    }

    .icons-logo i {
        font-size: 30px;
        margin: 10px;
    }

    .icons-logo i:hover {
        margin-top: 5px;
    }
    .contact h1 {
        font-size: 20pt;
    }
}
