{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}">
    <title>Story 2 | Syahrul's Gallery</title>
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <h1><a href="/" class="home">MY PROFILE</a></h1>
        </div>
        <div class="nav-right"></div>
    </nav>

    <article>
        <section>
            <div class="container greet">
                <div class="greeting soon">
                    <h1>COMING SOON</h1>
                </div>
            </div>
        </section>
    </article>
</body>
</html>