{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a222d351e0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Story | Syahrul's Profile</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-brand nav-left">
                <h1>MY PROFILE</h1>
            </div>
            <div>
                <ul class="nav justify-content-end nav-content">
                    <li class="nav-item">
                      <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#education">Education</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#experience">Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="gallery/">Gallery</a>
                      </li>
                  </ul>
            </div>
        
    </header>
    <article>
        <section class="top">
            <div class="container greet">
                <div class="greeting">
                    <div class="hello">
                        HELLO! I AM
                    </div>
                    <div class="name">
                        SYAHRUL
                    </div> 
                </div>                    
            </div>

        </section>

        <section id="about" class="middle">

            <div class="container">
                <div class="row">
                    <div class="col-md-5 about-photo">
                        <img src="{% static 'images\eug.png' %}" alt="Syahrul">
                    </div>
                    <div class="col-md-7 about-content">
                        <div class="about-me title">
                            <h1 class="about-top">About Me</h1>
                            <p class="about-top">I'm an easygoing and friendly person. I have an interest in web development. 
                                In my spare time I usually do my hobbies, such as streaming or exercise.
                            </p>
                            <div class="about-table">
                                <table>
                                    <tr>
                                        <td class="table-var">Name</td>
                                        <td class="table-var">:</td>
                                        <td>Abdurrohim Syahruromadhon Wahyudi</td>
                                    </tr>
                                    <tr>
                                        <td class="table-var">Date of birth</td>
                                        <td class="table-var">:</td>
                                        <td>19 December 2000</td>
                                    </tr>
                                    <tr>
                                        <td class="table-var">Address</td>
                                        <td class="table-var">:</td>
                                        <td>Jl. Kemakmuran Raya, Depok Jawa Barat</td>
                                    </tr>
                                    <tr>
                                        <td class="table-var">Major</td>
                                        <td class="table-var">:</td>
                                        <td>Information System at Universitas Indonesia</td>
                                    </tr>
                                    <tr>
                                        <td class="table-var">Student ID</td>
                                        <td class="table-var">:</td>
                                        <td>1906307290</td>
                                    </tr>
                                    <tr>
                                        <td class="table-var">Class of</td>
                                        <td class="table-var">:</td>
                                        <td>2019</td>
                                    </tr>
                                    <tr>
                                        <td class="table-var">Hobies</td>
                                        <td class="table-var">:</td>
                                        <td>Futsal, Basketball, and Streaming</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blank"></div>
            </div>

        </section>

        <section id="education" class="middle-2">
            <div class="edu">
                <div class="container education-title title">
                    <h1>Education</h1>
                </div>
                <div class="card-deck">
                    <div class="card card-content">
                      <img src="{% static 'images\makara.png' %}" class="card-img-top" alt="Fasilkom">
                      <div class="card-body">
                        <h5 class="card-title">University of Indonesia</h5>
                        <p class="card-text class">Information System</p>
                        <p class="card-text year">2019-Present</p>
                      </div>
                    </div>
                    <div class="card card-content">
                      <img src="{% static 'images\smada.png' %}" class="card-img-top" alt="SMAN 2 Depok">
                      <div class="card-body">
                        <h5 class="card-title">SMAN 2 Depok</h5>
                        <p class="card-text class">Science Class</p>
                        <p class="card-text year">2016-2019</p>
                      </div>
                    </div>
                    <div class="card card-content">
                      <img src="{% static 'images/nf.png' %}" class="card-img-top" alt="NFBSL">
                      <div class="card-body">
                        <h5 class="card-title">Nuruk Fikri Boarding School</h5>
                        <p class="card-text class">Islamic Class</p>
                        <p class="card-text year">2013-2016</p>
                      </div>
                    </div>
                </div>
                <div class="blank"></div>
            </div>
            
        </section>

        <section id="experience" class="middle-3">
            <div class="container exp-title title">
                <h1>Experience</h1>
            </div>
            <div class="container exp-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="exp-list">
                            <div class="exp-logo">
                                <img src="{% static 'images/educare.png' %}" alt="EDUCARE">
                            </div>
                            <div class="exp-details">
                                <h1>Educare</h1>
                                <p class="role">Staff of Workshop</p>
                                <p>2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="exp-list">
                            <div class="exp-logo">
                                <img src="{% static 'images/compfest.png' %}" alt="COMPFEST">
                            </div>
                            <div class="exp-details">
                                <h1>Compfest</h1>
                                <p class="role">Staff of Playground</p>
                                <p>2020</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="exp-list">
                            <div class="exp-logo">
                                <img src="{% static 'images/perakk.png' %}" alt="PERAK">
                            </div>
                            <div class="exp-details">
                                <h1 id="small">Pesta Rakyat Komputer</h1>
                                <p class="role">Staff of Futsal Planner</p>
                                <p>2020</p>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-6">
                        <div class="exp-list">
                            <div class="exp-logo">
                                <img src="{% static 'images/bem.png' %}" alt="BEM FASILKOM">
                            </div>
                            <div class="exp-details ">
                                <h1>BEM Fasilkom</h1>
                                <p class="role">Staff of Sport Departement</p>
                                <p>2020-Present</p>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="blank"></div>
            </div>
        </section>

        <section id="skills" class="middle-4">
            <div class="container skills-title title">
                <h1>Skills</h1>
            </div>
            <div class="container skills-content">
                <div class="row skill-row">
                    <div class="col-md-4 width-skill">
                        <div class="skill"><p>Python</p></div>
                    </div>
                    <div class="col-md-4 width-skill">
                        <div class="skill"><p>Java</p></div>
                    </div>
                    <div class="col-md-4 width-skill">
                        <div class="skill center"><p>Sports</p></div>
                    </div>
                </div>
                <div class="row row-2">
                    <div class="col-md-6 width-skill">
                       <div class="skill skill-bot-1"><p>Networking</p></div> 
                    </div>
                    <div class="col-md-6 width-skill">
                        <div class="skill skill-bot-2"><p>Colaborative</p></div>
                    </div>
                </div>
                <div class="blank"></div>
            </div>
        </section>
    </article>


    <footer>
        <div class="container">
            <div class=" row contact">
                <h1>Contact</h1>
            </div>
            
            <div class="row icons">
                <div class="icons-logo">
                    <a href="https://www.instagram.com/asyahrulrmd/" title="Instagram" target="blank"><i class="fab fa-instagram-square"></i></a>
                </div>
                <div class="icons-logo">
                    <a href="https://www.linkedin.com/in/abdurrohim-syahruromadhon-wahyudi-69b952188/" title="Linkedin" target="blank"><i class="fab fa-linkedin"></i></a>
                </div>
                <div class="icons-logo">
                    <a href="https://api.whatsapp.com/send?phone=+6285920001219" title="Whatsapp" target="blank"><i class="fab fa-whatsapp-square"></i></a>
                </div>
                <div class="icons-logo">
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=asyahrulrmd@gmail.com" title="Gmail" target="blank"><i class="fas fa-envelope"></i></a>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>